# =========================
# DATABASE
# =========================
storage/postgres-data/

# =========================
# MAVEN
# =========================
backend-java/target/

# =========================
# NODE
# =========================
frontend-vue/node_modules/
frontend-vue/dist/

# =========================
# LOGS
# =========================
*.log

# =========================
# ENV FILES
# =========================
.env